@model IEnumerable<MDKAReservasi.Models.TblT_Reservasi>

@{
    ViewData["Title"] = "Home Page";
    
}


<div class="text-center">
    <h1 class="display-4">Reservasi</h1>
</div>
<form asp-action="Create" method="post" enctype="multipart/form-data">
<div class="card-body px-0">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group float-right mr-3">
                   <button type="submit" id="add" class="btn bg-success">Save <i class="icon-paperplane"></i></button>
                    @*<button type="button" id="loader_element" class="btn  btn-sm bg-success"><i class="icon-file-excel mr-1"></i> Import</button>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <table class="table ">
                        <thead class="bg-primary text-center">
                            <tr>
                                <th class="text-center">Ruangan</th>
                                <th class="text-center">Subject</th>
                                <th class="text-center">Tanggal</th>
                                <th class="text-center">Jam Mulai</th>
                                <th class="text-center">Jam Selesai</th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr>
                                    <td class="text-center">
                                        <select class="form-control select-search div-asset" name="[0].Ruangan_FK" asp-items="@ViewBag.Ruangan">
                                            <option value="">--- chose option ---</option>
                                        </select>
                                    </td>
                                    <td class="text-center"><input name="[0].SubjectReservasi" class="form-control" /></td>
                                    <td class=""><input type="date" name="[0].TanggalReservasi" class="form-control" /></td>
                                    <td class=""><input type="time" name="[0].JamMulai" class="form-control" /></td>
                                    <td class=""><input type="time" name="[0].JamSelesai" class="form-control" /></td>
                                </tr>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                               <tr>
                                    <td class="text-center">
                                        <select class="form-control select-search div-asset" asp-for="[@i].Ruangan_FK" asp-items="@ViewBag.Ruangan">
                                            <option value="">--- chose option ---</option>
                                        </select>
                                    </td>
                                    <td class=""><input type="text" asp-for="[@i].SubjectReservasi" value="@item.SubjectReservasi" class="form-control" /></td>
                                    <td class=""><input type="date" asp-for="[@i].TanggalReservasi" value="@item.TanggalReservasi" class="form-control" /></td>
                                    <td class=""><input type="time" asp-for="[@i].JamMulai" value="@item.JamMulai" class="form-control" /></td>
                                    <td class=""><input type="time" asp-for="[@i].JamSelesai" value="@item.JamSelesai" class="form-control" /></td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
</form>
